bitsandbytes==0.39.0
accelerate==0.21.0
#deepspeed==0.10.0
git+https://github.com/PanQiWei/AutoGPTQ.git
scipy
sentencepiece
datasets
evaluate
pytest
git+https://github.com/huggingface/peft
transformers==4.31.0
scikit-learn
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
tensorboard
gradio
