torch==2.1.2
bitsandbytes==0.42.0
accelerate==0.27.2
numpy==1.26.4
gekko==1.0.6
pandas
scipy
sentencepiece==0.2.0
datasets
evaluate
pytest
peft==0.8.2
transformers==4.39.0
deepspeed==0.14.0
scikit-learn
torchvision
torchdata
torchaudio
tensorboard
gradio
packaging